@charset "UTF-8";
body {
  margin: 0;
  background-color: #e9ecef;
  width: 100%;
  height: 100%;
  font: "Microsoft JhengHei", "微軟正黑體", Arial, sans-serif;
  overflow-x: hidden; }

main {
  overflow: hidden;
  margin-top: 3.5rem; }

.row {
  margin: 0; }

.bg-dark {
  background-color: #1A2330 !important; }

.grid-image {
  width: 100%; }

.gallery-image {
  max-height: 100%;
  max-width: 100%; }

.gallery-description {
  width: 100%;
  height: calc(25% - 4px);
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle;
  background-color: #66A18250;
  border: 0;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: inset 0 0 0 4px #1A2330;
  position: relative;
  margin-top: 4px; }

.gallery-tag {
  font-size: 18pt;
  position: absolute;
  bottom: 10px;
  left: 10px; }

.gallery-body {
  height: 100%;
  display: grid;
  color: #1A2330;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle; }

.gallery-title {
  position: relative;
  word-break: break-all;
  font-size: 18pt;
  font-weight: bold;
  margin: 15px;
  opacity: 0;
  max-width: calc(100% - 80px); }

.grid-sizer {
  width: calc(25% - 4px); }

.grid {
  transition: 0.5s ease-in-out; }

.grid-body {
  height: 100%;
  display: grid;
  color: #1A2330;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle; }

.grid-move {
  transform: translate(50%, 0); }

.image {
  width: 100%;
  border: 2px solid #1A2330; }

.grid-type1 {
  background-color: #66A18250;
  overflow: hidden;
  min-height: auto; }

.grid-type1 > .grid-content {
  height: 100%;
  writing-mode: vertical-lr;
  font-family: 'DFKai-sb';
  text-orientation: upright;
  margin: 0 0 40px 0; }

.grid-type1 > .grid-content > p {
  font-size: 16pt;
  line-height: 0.5;
  font-weight: bold; }

.grid-type2 {
  background-color: #E6FFDF50; }

.grid-type3 {
  background-color: #DAFBCB50; }

.grid-type4 {
  background-color: #E2EBB750; }

.grid-content {
  opacity: 0;
  margin: 15px;
  margin-bottom: 40px; }

p {
  font-size: 14pt;
  margin-bottom: 4px; }

.grid-title {
  position: relative;
  word-break: break-all;
  font-size: 18pt;
  font-weight: bold;
  margin: 15px;
  opacity: 0; }

.media-title {
  position: absolute !important;
  top: 0;
  left: 0;
  display: none; }

.grid-tag {
  font-size: 18pt;
  position: absolute;
  bottom: 10px;
  right: 10px; }

.grid-tag .badge {
  margin-left: 4px; }

.badge {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)); }

.nomedia {
  opacity: 1; }

.shown {
  animation: fadeIn 0.5s ease forwards; }

.hidden {
  animation: fadeOut 0.75s ease forwards; }

.loading {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.filter {
  position: fixed;
  right: 150px;
  bottom: 50px; }

footer {
  opacity: 0;
  text-align: center;
  width: 100%;
  user-select: none; }

.search-btn {
  border-radius: 0; }

.search-input {
  border-radius: 0;
  border: 1px solid #1A2330; }

.search-input:focus {
  border: 3px solid #00b7ff; }

.gallery {
  position: fixed;
  width: 50%;
  height: calc(100% - 3.5rem);
  padding: 4px;
  transform: translate(-100%, 0);
  transition: 0.5s ease-in-out; }

.gallery-content {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 4px;
  box-shadow: inset 0 0 0 4px #1A2330;
  position: relative;
  margin: auto; }

.gallery-no-description {
  height: 100%; }

.gallery-has-description {
  height: 75%;
  margin-bottom: 0; }

.gallery-has-media-full-w {
  height: auto; }

.full-h {
  height: 100%;
  max-height: 100%; }

.full-w {
  width: 100%;
  max-width: 100%; }

.full-w-img {
  width: 100%;
  height: auto; }

.full-h-img {
  width: auto;
  height: 100%; }

.gallery-show {
  transform: translate(0, 0); }

.container-fluid {
  padding: 4px; }

.grid-item {
  position: relative;
  width: calc(25% - 4px);
  margin-bottom: 4px;
  opacity: 0;
  border: 0;
  box-sizing: border-box;
  padding: 4px;
  box-shadow: inset 0 0 0 4px #1A2330; }

.grid-item:before, .grid-item:after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%; }

.grid-item-w10 {
  width: calc(100% - 4px); }

.grid-item-w5 {
  width: calc(50% - 4px); }

.clicked {
  color: #00b7ff;
  box-shadow: inset 0 0 0 4px #00b7ff; }

.clicked > .grid-body > .grid-tag > .badge {
  background-color: #00b7ff; }

.clicked > .grid-body {
  filter: blur(2px); }

.center:hover {
  color: #00b7ff; }

.center:hover > .grid-body > .grid-tag > .badge {
  background-color: #00b7ff; }

.center:hover > .grid-body > .gallery-tag > .badge {
  background-color: #00b7ff; }

.center:before, .center:after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center; }

.center:before {
  border-top: 4px solid #00b7ff;
  border-bottom: 4px solid #00b7ff;
  transform: scale3d(0, 1, 1); }

.center:after {
  border-left: 4px solid #00b7ff;
  border-right: 4px solid #00b7ff;
  transform: scale3d(1, 0, 1); }

.center:hover:before, .center:hover:after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s; }

.grid-block {
  width: calc(50% - 4px);
  height: 0;
  margin-bottom: 0;
  padding: 0;
  box-shadow: none; }

.grid-block:before {
  border: none; }

.grid-block:after {
  border: none; }

@keyframes fadeIn {
  0% { }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% { }
  100% {
    opacity: 0; } }

.gallery-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 50%;
  border: none;
  outline: none !important;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 1; }

.gallery-close:focus {
  outline: !important; }

.gallery-close:hover {
  background: #dae0e5 !important; }

.gallery-close span {
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: #1A2330;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s linear; }

.gallery-close span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: gray;
  transition: all 0.3s linear; }

.gallery-close span:nth-child(1) {
  animation: span-first-off 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.gallery-close span:nth-child(2) {
  animation: span-second-off 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.gallery-close span:nth-child(3) {
  animation: span-third-off 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.gallery-close.on span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.gallery-close.on span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.gallery-close.on span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

.dropdown-adv {
  min-width: 300px;
  padding: 20px; }

.all {
  color: #f9f9f9;
  background-color: #1e7e34;
  border-color: #1e7e34; }

.btn-group-toggle {
  margin-bottom: 15px; }

.dropdown-btn {
  border-radius: 0;
  width: 20%; }

/*# sourceMappingURL=gallery.css.map */

/*# sourceMappingURL=gallery.css.map */